body {
    background-color: #303331;
  }

h1{
    position : relative;
    margin : auto;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size: 3rem;
}

#loginFormDiv {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(360, 360, 360, 0.4);
    margin: auto;
    margin-top: 35px;
    padding: 50px;
    width: 550px;
    height: 385px;
  }

#book_image { 
    display : none;
}

label img { 
    width : 20px;
}

label:hover { 
    cursor: pointer;
}

.input1 label {
    position : relative;
    left : 0;
    font-size: 1.2rem;
}

.input1 input {
    position: relative;
    left : 20px;
    width : 210px;
    height : 20px;
}

.input1 { 
    position : relative;
    margin : auto;
    border: 2px solid bl;
    margin-bottom : 50px;
}

#st { 
    position: relative;
    font-size: 1.2rem;
}

#attachIcon { 
    position : relative;
    height : 22px;
    width :auto;
}

#attach { 
    position: absolute;
    left : 210px;
    top : 280px;
}


#cst { 
    position: absolute;
    top : 340px;
    left : 50px;
    font-size: 1.2rem;
    margin-top: 0; 
}

#cstImg { 
    position : absolute;
    top : 345px;
    left : 210px;
    height : 100px;
    width : auto;
}

#submit_button:hover{ 
    cursor: pointer;
}

#submit_button { 
    position : absolute;
    left : 50px;
    top : 430px;
    height : 30px;
    width : 80px;
    font-size: 1rem;
}