<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body>

    <div class="availableBooks">
        <p class='title' id="_availableBooks">Available books</p>

        {% for i in range(uploads|length) %}
        <div class="book" id='{{ uploads[i]["book_name"] }},{{ uploads[i]["author"] }}'>
            <img src="static/uploads/{{ uploads[i]['filename'] }}" alt="Image unavailable">
            <h3 class="bookTitle">{{ uploads[i]["book_name"] }}</h3>
            <p>Uploaded by {{ uploads[i]["user_name"] }}</p>
            <p>By {{ uploads[i]["author"] }}</p>
            <form class="request" action="/book_request" method="post">
                <button type="submit" name="request_button" value='{{ uploads[i]["book_id"] }}'>Request this book</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <div class="uploadedBooks">
        <p class="title" id="_uploadedBooks">Uploaded books</p>
        {% for i in range(my_uploads|length) %}
        <div class="book_u" id='{{ my_uploads[i]["book_name"] }},{{ my_uploads[i]["author"] }}'>
            <img src="static/uploads/{{ my_uploads[i]['filename'] }}" alt="Image unavailable">
            <h3>{{ my_uploads[i]["book_name"] }}</h3>
            <p>By {{ my_uploads[i]["author"] }}</p>
            <form class="remove" action="/delete_upload" method="post" onsubmit="return confirm('Are you sure you want to remove this upload?');">
                <button type="submit" name="remove_button" value='{{ my_uploads[i]["book_id"] }}'>Remove</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <div class="yourRequest">
        <p class='title' id="_yourRequest">Your Request</p>
        <p class="note">The book you have currently requested is displayed below. (Nothing has been requested if this section is empty.)</p>
        {% if my_request %}
          <div class="book_cr" id='{{ my_request["book_name"] }},{{ my_request["author"] }}'>
              <img src="static/uploads/{{ my_request['filename'] }}" alt="Image unavailable">
              <h3>{{ my_request["book_name"] }}</h3>
              <p>Uploaded by {{ my_request["user_name"] }}</p>
              <p>By {{ my_request["author"] }}</p>
              {% if my_request["status"] == "Accepted" %}
              <form class="confirmRequest" action="/confirm_request" method="post">
                  <button type="submit" name="confirmRequest" value='{{ my_request["book_id"] }}'>Confirm Request</button>
              </form>
              {% else %}
              <form class="cancelRequest" action="/cancel_request" method="post" onsubmit="return confirm('Are you sure you want to cancel this request?');">
                  <button type="submit" name="cancelRequest" value='{{ my_request["book_id"] }}'>Cancel Request</button>
              </form>
              {% endif %}
          </div>
        {% endif %}
    </div>

    <div class="requestStatus">
        <p class='title2'>Request Status</p>
        {% for i in range(req_details|length) %}
          <p class='note2'>{{ req_details[i] }}</p>
        {% endfor %}
    </div>

    <div class="requestedBooks">
        <p class='title' id="_requestedBooks">Requested books</p>
        {% for i in range(requested_uploads|length) %}
        {% if requested_uploads[i]["status"] == "Requested" %}
        <div class="book_r" id='{{ requested_uploads[i]["book_name"] }},{{ requested_uploads[i]["author"] }}'>
            <img src="static/uploads/{{ requested_uploads[i]['filename'] }}" alt="Image unavailable">
            <h3>{{ requested_uploads[i]["book_name"] }}</h3>
            <p>By {{ requested_uploads[i]["author"] }}</p>
            <p>Requested by {{ requested_uploads[i]["user_name"] }}</p>
            <form class="give" action="/accept_request" method="post" onsubmit="return confirm('Are you sure you want to give this book?');">
                <button type="submit" name="give_button" value='{{ requested_uploads[i]["book_id"] }}'>Give this book</button>
            </form>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <p id="searchMsg"><u onclick="goBack()">Showing only search results. Click to go back.</u></p>

    <div id='topBar'>
        <img src='static/img/Logo.png' id='logo' alt='Image not found'>
        <img src='static/img/SearchIcon.png' id='searchIcon' alt='Image not found'>
        <input type="text" id="search" name="search" placeholder="type here to search (press enter)">
        <img src='static/img/ProfileIcon.png' id='profileIcon' alt='Image not found'>
        <p id="welcome">Welcome back</p>
        <p id="topname">{{ my_details[0] }}</p>
        <img src='static/img/MenuIcon.png' id='menuIcon' alt='Image not found' onclick='slideLeft()'>
        <img src='static/img/MenuIcon.png' id='menuIcon2' alt='Image not found' onclick='slideRight()'>
        <div id='subBar'></div>
        <div id='subBar2'></div>
    </div>

    <div id='navBar'>
        <button id="availableBooks" class="navbutton" onclick="goToAvailableBooks()">Available books</button>
        <button id="uploadedBooks" class="navbutton" onclick="goToUploadedBooks()">Uploaded books</button>
        <button id="yourRequest" class="navbutton" onclick="goToYourRequest()">Your request</button>
        <button id="requestedBooks" class="navbutton" onclick="goToRequestedBooks()">Requested books</button>
    </div>



    <div id='dropdown'>

        <div id='name'><p> {{ my_details[0] }} </p></div>
        <hr>
        <p id='email'>Email : {{ my_details[1] }}</p>
        <p id='class'>Class : {{ my_details[2] }}</p>
        {% if accepted_notif %}
        <p id="notif">Notifications : </p>
        <div id="notifications">
            <ol>
            {% for notification in accepted_notif %}
            <p id="notification_content">* {{ notification }}</p>
            {% endfor %}
            </ol>
        </div>
        {% endif %}

        <div class="buttons1">
            <div class='upload'>
                <form id='uploadButton' action="/upload">
                <img src='static/img/uploadIcon.jpg' id='uploadIcon' alt='Image not found'>
                <div id = 'textU'><input type='submit' value='Upload' id = 'up'></div>
                </form>
            </div>
            <div class='logout'>
                <form id='logoutButton' action="/logout">
                <img src='static/img/LogoutIcon.png' id='logoutIcon' alt='Image not found'>
                <div id = 'textL'><input type='submit' value='Logout' id = 'lg'></div>
                </form>
            </div>
            <div class='edit_profile'>
                <form id='editButton' action="/edit_profile">
                <div id = 'textE'><input type='submit' value="Edit profile" id = 'ep'></div>
                </form>
            </div>
        </div>

    </div>

    <script src="static/js/dashboard.js"></script>


</body>

</html>
