<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/landing.css') }}">
</head>

<body>

    <div id='topBar'>
	    <p id='heading'>SKCHRefBooks</p>
        <a id = 'sign' href="{{url_for('signup')}}"><p>Sign up</p></a>
        <a id = 'login' href="{{url_for('login')}}"><p>Login</p></a>
    </div>

    <div class="container">

		<h2>Some popular books on our site</h2>

    {% if uploads %}
      {% for i in range(uploads|length) %}
	  	  <div class="item">
		  	  <img src="static/uploads/{{ uploads[i]['filename'] }}">
		  	  <!-- <img src="https://m.media-amazon.com/images/I/41dUJwodnnL._SY445_SX342_.jpg"> -->
			    <p>{{ uploads[i]["book_name"] }}</p>
       	</div>
      {% endfor %}
    {% endif %}

    </div>
</body>

</html>
