<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

    <div id="loginFormDiv">
        <h1>Login</h1>
        <form id='loginData' action="/login" method="post">
            {{ form.csrf_token }}

            <label for="email">Email</label>
            {{ form.email(id="email", placeholder="Enter your email") }}<br>

            <label for="password">Password</label>
            {{ form.password(id="password", placeholder="Enter your password") }}<br>

            <a id="signup" href="{{url_for('signup')}}">Do not have an account yet ? Sign up</a>
            <input type="submit" value="Login">
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <style>
                p {
                    position : absolute;
		                right : 0px;
		                width : 100%;
		                text-align : center;
                    font-size: 14px;
                    margin-top: 0;
                    color: red;
                }
            </style>
            {% for category, message in messages %}
              <p class="{{ category }}">*{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

    </div>


</body>

</html>
