<!DOC TYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/signup.css') }}">
</head>

<body>
    <div id="signupFormDiv">
        <h1>Sign Up</h1>

        {% if form.errors %}
          <style>
              li {
                  padding-left: 40px;
                  padding-bottom: 10px;
                  color: red;
              }
          </style>
          {% for field, errors in form.errors.items() %}
          <u1>
            <!-- <li>{{ form[field].label }}: {{ ', '.join(errors) }}</li> -->
            <li>{{ ', '.join(errors) }}</li>
          </u1>
          {% endfor %}
        {% endif %}

        <!-- {% with messages = get_flashed_messages(with_categories=true) %} -->
        <!--   {% if messages %} -->
        <!--     <style> -->
        <!--         ul { -->
        <!--             color: red; -->
        <!--         } -->
        <!--     </style> -->

        <!--     <ul class="flashes"> -->
        <!--       {% for category, message in messages %} -->
        <!--         <li class="{{ category }}">{{ message }}</li> -->
        <!--       {% endfor %} -->
        <!--     </ul> -->
        <!--   {% endif %} -->
        <!-- {% endwith %} -->

        <form method="post" action="/signup">
          {{ form.csrf_token }}

          <label for="email">Email</label>
          {{ form.email(id="email") }}<br>

          <label for="name">Name</label>
          {{ form.name(id="name") }}<br>

          <label for="grade">Grade</label>
          {{ form.grade(id="grade") }}<br>

          <label for="contact_number">Contact Number</label>
          {{ form.contact_number(id="contact_number") }}<br>

          <label for="address">Address</label>
          {{ form.address(id="address") }}<br>

          <label for="password">Password</label>
          {{ form.password(id="password") }}<br>

          <label for="password_confirmation">Confirm Password</label>
          {{ form.password_confirmation(id="password_confirmation") }}<br>

          <input type="submit" value="Signup">
        </form>
    </div>
</body>

</html>
